/node_modules
**/node_modules
**/.vite
**/*.tsbuildinfo
/config/v2board.php
/public/hot
/public/storage
/public/env.example.js
/public/theme/*
!/public/theme/.gitignore
/public/assets/admin
/public/assets/admin-vue
/public/assets/admin-react
/theme/Xboard/assets/app/assets
/theme/Xboard/assets/app/chunks
/theme/Xboard/assets/app/main.js
/theme/Xboard/assets/app/styles.css
/theme/Xboard/assets/app/manifest.json
/theme/Xboard/assets/app/*.map
/theme/Xboard/assets/app/api.js
/theme/Xboard/assets/app/helpers.js
/theme/Xboard/assets/app/store-service.css
/theme/Xboard/assets/app/vendor
/theme/Xboard/assets/umi.js
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/theme/*
!/storage/theme/.gitignore
/storage/tmp/*
!/storage/tmp/.gitignore
/storage/views/*
!/storage/views/.gitignore
/storage/debugbar/*
!/storage/debugbar/.gitignore
/storage/backup/*
!/storage/backup/.gitignore
/bootstrap/cache/*.php
/vendor
.docker/.data/*
!.docker/.data/.gitignore
!.docker/.data/redis/
.docker/.data/redis/*
!.docker/.data/redis/.gitignore
.docker/env/*
.env
.env.*
!.env.example
.env.backup
.phpunit.result.cache
.idea
.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
yarn.lock
docker-compose.yml
.DS_Store
/docker
storage/laravels.conf
storage/laravels.pid
storage/laravels-timer-process.pid
/frontend
