/node_modules
/config/v2board.php
/config/googleCloudStorageKey.json
/public/hot
/public/storage
/public/env.example.js
*.user.ini
/storage/*.key
/vendor
.env
.env.*
!.env.example
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
yarn.lock
docker-compose.yml
.DS_Store
/docker
storage/laravels.conf
storage/laravels.pid
storage/update_pending
storage/laravels-timer-process.pid
cli-php.ini
frontend
docker-compose.yaml
bun.lockb
compose.yaml
compose.host.yaml
compose.split.yaml
.scribe
*.bak
*.bak.*
*.backup
*.zip
*.tar.gz
*.tgz
/storage/logs/*
!/storage/logs/.gitignore
/storage/debugbar/*
!/storage/debugbar/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/tmp/*
!/storage/tmp/.gitignore
/storage/backup/*
!/storage/backup/.gitignore
